body{
    background-color: #F7ECDE;
}
.crud .container .heading-items h1{
    border-bottom: 1px dashed black;
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: rgb(53, 46, 40);
    /* position: relative ; */
    /* isolation: isolate; */
}
/* .crud .container .heading-items h1::before{
 content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
} */

.crud .container .heading-items h2{
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    color: rgb(33, 37, 41);
    font-size: 25px;
    line-height: 30px;
    /* background-image: linear-gradient(to right, #3ca55c, #b5ac49); */
}

td button#visit{
    background-color: #9eb23b;
    color: white;
}
td button#visit:hover{
    background-color: #8a9e23;  
}
td button#delete{
    background-color: #d30820;
    color: white;
}
td button#delete:hover{
    background-color: #ba081d;
}
.inputs{
    border-bottom:  1px dashed black;
}

.box-conent {
    width: 500px;
    z-index: 10;
}

.circles span {
    display: block;
    width: 20px;
    height: 20px;
}
.circles span:nth-child(1) {
    background-color: #f15f5d;
}
.circles span:nth-child(2) {
    background-color: #febe2e;
}
.circles span:nth-child(3) {
    background-color: #4db748;
}
a{
    text-decoration: none;
    color: white;
}